/* You can add global styles to this file, and also import other style files */
div[boton]{
  padding: .2em 1.5em;
  border-radius: 5px;
  background-color:rgb(147, 157, 243);
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin: 0 .5em;
}
